@import '../../styles/colors';

.articleItem {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    box-shadow: 0 4px 8px 0 #11111122;
    border-radius: 15px;
    background-color: white;
    a:hover {
        text-decoration: none;
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    
    &__title {
        transition: all 0.15s ease-out 0s;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        color: rgb(16, 16, 16);
        font-size: 36px;
        letter-spacing: -0.03em;
        text-align: start;
        font-weight: 600;
    }
    &__category {
        font-size: 150%;
        a {
            color: $fuchia;
            &:hover {
                color: adjust-color($color: $fuchia, $lightness: -20%);
            }
        }
    }
    &__text {
        margin-top: 10px;
        margin-inline: 0px;
        margin-bottom: 0px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #606060;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        text-align: start;
        display: block;
    }
    
    &__etc {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
    
    &__pic {
        object-fit: cover;
        width: 100%;
        border-radius: 15px;
        display: block;
        border-style: none;
    }
    &__actions {
        display: flex;
        justify-content: center;
        gap: 5px;
        button {
            border-radius: 15px;
            background-color: #eee;
            color: #555;
            cursor: pointer;
            font-size: 18px;
            padding: 5px 15px 5px 15px;
            &.edit:hover {
                background-color: $accent-color;
                color: #fff;
            }
            &.delete:hover {
                background-color: $error-color;
                color: #fff;
            }
        }
    }
    &__confirm {
        display: flex;
        flex-direction: column;
        place-content: center;
        gap: 15px;
        font-size: 24px;
        &_text {
            text-align: center;
        }
        &_buttons {
            display: flex;
            place-content: center;
            gap: 15px;
            button {
                border-radius: 15px;
                cursor: pointer;
                font-size: inherit;
                padding: 5px 15px 5px 15px;
                color: #fff;
                &:first-of-type {
                    background-color: $accent-color;
                    &:hover {
                        background-color: adjust-color($color: $accent-color, $lightness: -20%);
                    }
                }
                &:last-of-type {
                    background-color: $error-color;
                    &:hover { 
                        background-color: adjust-color($color: $error-color, $lightness: -20%);
                    }
                }
            }
        }
    }
}

.wrapper {
    display: flex;
    margin-top: 1rem;
}