.myInput {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    border: 1px solid #0004;
    border-radius: 4px;
    font-size: 1rem;
    &:focus {
        outline: none !important;
        border: 2px solid #28f;
    }
}