.articleList {
    display: flex;
    max-width: 900px;
    width: 100%;
    place-items: center;
    flex-direction: column;
    padding: 1.5rem 1rem 1.5rem 1rem;
    gap: 2rem;
    flex-wrap: wrap;
}