.form {

    [type="file"] {
      font-size: 1em;
      padding: 1em;
      border: solid 1px gray;
      border-radius: .5em;
    }
  
    button {
      color: white;
      font-size: 1em;
      background-color: blueviolet;
      padding: .5em .8em;
      border: none;
      border-radius: .2em;
    } 
    span {
      color: red;
      font-size: 0.75rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}