$accent-color:        #1db954;
$accent-color-bright: #1ed760;

$based-yellow:  #fb4;
$based-red:     #e74c3c;
$based-black:   #191414;
$spearmint:     #4b917b;
$fuchia:        #f037a5;
$citric:        #cdf564;  

$success-color:   #00C851;
$error-color:   #f44;
$info-color:    #33b5e5;