@import "./colors";

.dashboard {
    font-size: 24px;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px #aaa;
    > div {
        line-height: 90%;
        padding: 10px;
    }
    .avatar {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .username {
        display: flex;
        align-items: center;
        gap: 12rem;
    }
    .img {
        width: 80px;
        height: 80px;
        img {
            border-radius: 50%;
        }
    }
    button {
        font: inherit;
        padding: 5px 20px 5px 20px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        background-color: $accent-color;
        &:hover {
            background-color: adjust-color($color: $accent-color, $lightness: -10%);
        }
    }
    label {
        margin-top: -20px;
        font-size: 0.75rem;
        color: #555;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .myArticles {
        margin-top: 10px;
    }
    .signout {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    main {
        justify-content: flex-start !important;
    }
    .dashboard {
      width: 100%;
      box-shadow: none;
      padding: 1rem;
      margin-top: 2rem;
      .username {
          gap: 0;
          justify-content: space-between;
      }
    }
}