@import "./colors";

.dashboard {
    font-size: 24px;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px #aaa;
    > div {
        line-height: 90%;
        padding: 10px;
    }
    .avatar {
        display: flex;
        align-items: center;
        gap: 1rem;
        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 10px;
        }
        font-size: 32px;
        font-family: 'Gotham Bold', sans-serif;
    }
    .username {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .img {
        width: 100px;
        height: 100px;
        img {
            border-radius: 50%;
        }
    }
    button {
        font: inherit;
        padding: 5px 20px 5px 20px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        background-color: $accent-color;
        &:hover {
            background-color: adjust-color($color: $accent-color, $lightness: -10%);
        }
    }
    label {
        margin-top: -20px;
        font-size: 0.75rem;
        color: #555;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .myArticles {
        margin-top: 10px;
    }
    .signout {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    main {
        justify-content: flex-start !important;
    }
    .dashboard {
      width: 100%;
      box-shadow: none;
      padding: 1rem;
      margin-top: 2rem;
    }
}