@import "./colors";

.dropdown {
    &__btn {
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
        align-items: center;
        text-decoration: none;
        font: inherit;
        outline: none;

        .arrow {
            height: 15px;
            width: 15px;
        }
        &:hover {
            filter: invert(54%) sepia(98%) saturate(368%) hue-rotate(89deg) brightness(87%) contrast(96%);
        }
    }
    &__content {
        margin-top: 10px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: center;
        li {
            margin: 0;
            padding: 12px 16px;
            display: block;
            cursor: pointer;
        }
    }
}

.show {
    display: block;
    .dropdown__content {
        display: block;
    }
    .arrow {
        transform: scaleY(-1);
    }
}