@import "./colors";


#editor-js {
    h2 {
        @apply mt-12 text-3xl;
    }
    h3 {
        @apply mt-8 text-2xl self-start;
    }
    ::selection {
        color: #fff !important;
        background: $accent-color-bright !important;
    }
    .ce-toolbox__button, .ce-settings__button, .ce-conversion-tool, .ce-inline-tool, .ce-inline-toolbar__dropdown, .cdx-input, .cdx-button, .cdx-settings-button {
        @apply text-black dark:text-white bg-white dark:bg-neutral-800 hover:bg-green-600
    }
    
    .ce-toolbox, .ce-settings, .ce-inline-toolbar, .ce-conversion-toolbar, .ce-conversion-tool__icon {
        @apply text-black dark:text-white bg-white dark:bg-neutral-800 
    }
    
    .ce-toolbar__plus, .ce-toolbar__settings-btn {
        @apply text-black dark:text-white hover:bg-green-600
    }
    .cdx-marker {
        @apply text-black dark:text-white bg-yellow-200 dark:bg-yellow-600
    }
}

.cdx-notify, .cdx-notify--error {
    color: black;
}
