@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/gotham-bold");
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  -webkit-box-shadow: 0px 5px 10px 0px #aaa;
          box-shadow: 0px 5px 10px 0px #aaa;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  color: #000;
  height: 60px;
  z-index: 12;
  -webkit-backdrop-filter: blur(15px) brightness(75%) saturate(70%);
          backdrop-filter: blur(15px) brightness(75%) saturate(70%);
  font-family: 'Gotham Bold', sans-serif;
  padding: 0 20px 0 20px;
  display: -ms-grid;
  display: grid;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menu-items {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #1db954;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 2.5em;
  color: #1db954;
  letter-spacing: -1px;
}

.logo a:hover {
  color: #1ed760;
}

@media (max-width: 768px) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -40px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-box-shadow: 5px 0px 10px 0px #aaa;
            box-shadow: 5px 0px 10px 0px #aaa;
  }
  .navbar .menu-items .dropdown__content, .navbar .menu-items .user-menu__content {
    position: absolute;
    left: 0;
    max-width: 300px;
    width: 100%;
  }
  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    z-index: -1;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
}

.articleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  width: 100%;
  place-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem 1rem 1.5rem 1rem;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articleItem {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 #11111122;
          box-shadow: 0 4px 8px 0 #11111122;
  border-radius: 15px;
  background-color: white;
}

.articleItem a:hover {
  text-decoration: none;
}

.articleItem__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.articleItem__title {
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #101010;
  font-size: 36px;
  letter-spacing: -0.03em;
  text-align: start;
  font-weight: 600;
}

.articleItem__category {
  font-size: 150%;
}

.articleItem__category a {
  color: #f037a5;
}

.articleItem__category a:hover {
  color: #b40d70;
}

.articleItem__text {
  margin-top: 10px;
  margin-inline: 0px;
  margin-bottom: 0px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  color: #6f6f6f;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  text-align: start;
  display: block;
}

.articleItem__etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5em;
}

.articleItem__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px;
  display: block;
  border-style: none;
}

.articleItem .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articleItem__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.articleItem__actions button {
  border-radius: 15px;
  background-color: #eee;
  color: #555;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
}

.articleItem__actions button.edit:hover {
  background-color: #bbb;
  color: #000;
}

.articleItem__actions button.delete:hover {
  background-color: #f44;
  color: #fff;
}

.articleItem__confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  gap: 15px;
  font-size: 24px;
}

.articleItem__confirm_text {
  text-align: center;
}

.articleItem__confirm_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  gap: 15px;
}

.articleItem__confirm_buttons button {
  border-radius: 15px;
  cursor: pointer;
  font-size: inherit;
  padding: 5px 15px 5px 15px;
}

.articleItem__confirm_buttons button:first-of-type {
  background-color: #f037a5;
  color: #fff;
}

.articleItem__confirm_buttons button:first-of-type:hover {
  background-color: #b40d70;
}

.articleItem__confirm_buttons button:last-of-type {
  background-color: #cdf564;
  color: #000;
}

.articleItem__confirm_buttons button:last-of-type:hover {
  background-color: #a9e40f;
}

@media (min-width: 800px) {
  .articleList {
    min-width: 600px;
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.article {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  justify-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.article h1 {
  font-size: 4rem;
}

.article article a {
  color: #1db954;
}

.article article a:hover {
  text-decoration: underline;
}

.article article p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.article article h2, .article article h3 {
  margin-bottom: 1rem;
  font-weight: inherit;
  line-height: 1.375;
}

.article article h2 {
  margin-top: 3rem;
  font-size: 1.875rem;
}

.article article h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.article article code {
  border-radius: 5px;
  border: 1px solid #BCBEC0;
  padding: 2px;
  font-family: Monaco, Consolas,"Andale  Mono","DejaVu Sans Mono", monospace;
}

.article article blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

.article article blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

.article article blockquote:after {
  content: "– " attr(cite);
  display: block;
  text-align: right;
  font-weight: 500;
  color: #1db954;
}

.article article figure {
  text-align: center;
  width: 100%;
}

.article article mark {
  background: rgba(245, 235, 111, 0.29);
  padding: 3px 0;
}

.article article ol, .article article ul {
  padding-left: 1rem;
}

.article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin: auto;
  width: 100%;
  background-color: #fff;
}

.article__container .img {
  border-radius: 10px;
  width: 100%;
}

.article__head {
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

.article__head .tags {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__authordate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5em;
  place-self: center;
  place-content: center;
  place-items: center;
}

.article__category {
  font-weight: 600;
  color: #1db954;
}

.article__description {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article__delimiter {
  margin: 6rem 0 5rem 0;
  text-align: center;
}

.article__delimiter:before {
  display: inline-block;
  content: "***";
  font-size: 30px;
  line-height: 65px;
  height: 30px;
  letter-spacing: 0.2em;
}

.tags {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 6px 0 0 -3px;
}

.tags__item {
  background-color: #e6e6e6;
  color: #333333;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  font-size: 85%;
  padding: 3px 6px 6px 6px;
}

.tags__item:hover {
  background-color: #b3b3b3;
}

.tags__item a:hover {
  color: inherit;
}

.myInput {
  width: 100%;
  padding: 8px 5px;
  margin: 5px 0;
  border: 1px solid #0004;
  border-radius: 4px;
  font-size: 1rem;
}

.myInput:focus {
  outline: none !important;
  border: 2px solid #28f;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register form {
  background-color: white;
  padding: 30px 60px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 5px #aaa;
          box-shadow: 0px 5px 10px 5px #aaa;
}

.register p {
  text-align: center;
  color: #777;
}

.register p a {
  color: #1db954;
}

.register p a:hover {
  color: #137736;
}

.register h1 {
  color: #168d40;
  text-align: center;
}

.register button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #1db954;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
}

.register button:hover {
  background-color: #137736;
}

.formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

.formInput input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

.formInput label {
  font-size: 12px;
  color: gray;
}

.formInput span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.formInput input:invalid[focused="true"] {
  border: 1px solid red;
}

.formInput input:invalid[focused="true"] ~ span {
  display: block;
}

.file-upload .loading {
  color: #33b5e5;
}

.file-upload .error {
  color: #f44;
}

.file-upload .success {
  color: #00C851;
}

.dashboard {
  font-size: 24px;
  padding: 4rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 5px #aaa;
          box-shadow: 0px 5px 10px 5px #aaa;
}

.dashboard > div {
  line-height: 90%;
  padding: 10px;
}

.dashboard .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 32px;
  font-family: 'Gotham Bold', sans-serif;
}

.dashboard .avatar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-size: 10px;
}

.dashboard .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .img {
  width: 100px;
  height: 100px;
}

.dashboard .img img {
  border-radius: 50%;
}

.dashboard button {
  font: inherit;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: #1db954;
}

.dashboard button:hover {
  background-color: #168d40;
}

.dashboard label {
  margin-top: -20px;
  font-size: 0.75rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dashboard .myArticles {
  margin-top: 10px;
}

.dashboard .signout {
  margin-top: 10px;
}

@media (max-width: 600px) {
  main {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .dashboard {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 1rem;
    margin-top: 2rem;
  }
}

.user-menu {
  background-color: #fff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 5px;
}

.user-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font: inherit;
  font-weight: 700;
  outline: none;
}

.user-menu__btn .arrow {
  height: 15px;
  width: 15px;
}

.user-menu__btn:hover {
  -webkit-filter: invert(54%) sepia(98%) saturate(368%) hue-rotate(89deg) brightness(87%) contrast(96%);
          filter: invert(54%) sepia(98%) saturate(368%) hue-rotate(89deg) brightness(87%) contrast(96%);
}

.user-menu .avatar {
  width: 40px;
  height: 40px;
}

.user-menu .avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.user-menu__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  margin-top: 50px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.user-menu__content li {
  margin: 0;
  color: black;
  padding: 12px 16px;
  display: block;
}

.user-menu__content li a {
  cursor: pointer;
}

.show .user-menu__content {
  display: block;
}

.show .arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.dropdown__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font: inherit;
  outline: none;
}

.dropdown__btn .arrow {
  height: 15px;
  width: 15px;
}

.dropdown__btn:hover {
  -webkit-filter: invert(54%) sepia(98%) saturate(368%) hue-rotate(89deg) brightness(87%) contrast(96%);
          filter: invert(54%) sepia(98%) saturate(368%) hue-rotate(89deg) brightness(87%) contrast(96%);
}

.dropdown__content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown__content li {
  margin: 0;
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.show {
  display: block;
}

.show .dropdown__content {
  display: block;
}

.show .arrow {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  width: 100%;
  gap: 5px;
}

.searchbar button {
  margin: 5px 0 5px 0;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.searchbar .search {
  background-color: #f037a5;
}

.searchbar .search:hover {
  background-color: #b40d70;
}

.searchbar .clear {
  background-color: #555;
}

.searchbar .clear:hover {
  background-color: #222222;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.navigation button {
  margin: 5px 0 5px 0;
  padding: 5px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #777;
}

.navigation button:hover {
  background-color: #444444;
}

.navigation button[disabled] {
  background-color: #bbb;
  cursor: default;
}

.navigation button svg {
  height: 25px;
  width: 50px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-animation-duration: 75ms;
          animation-duration: 75ms;
  cursor: pointer;
}

a:hover {
  color: #1db954;
}

a.colored {
  color: #1db954;
}

a.colored:hover {
  color: #137736;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: inset;
  border-width: 1px;
  width: 90vw;
}

.access-denied {
  text-align: center;
}

.access-denied a {
  color: #1db954;
}

.access-denied a:hover {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-top: 8rem;
  line-height: 1.15;
  font-family: 'Gotham Bold', sans-serif;
  font-size: 4rem;
  text-align: center;
}

.title + h2 {
  text-align: center;
}

.no-margin {
  margin-top: 0;
}

button {
  outline: none;
  border: none;
}

.btn {
  padding: 10px;
  background-color: #1db954;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 15px;
}

.btn:hover {
  background-color: #0f612c;
}

main {
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.accented {
  color: #1db954;
}

@media (max-width: 768px) {
  main {
    padding: 0 1rem 0 1rem;
  }
}
/*# sourceMappingURL=globals.css.map */